<!DOCTYPE html>
<html>
<head>
  <title>HasFeatures</title>
  <%= stylesheet_link_tag    "has_features/application", media: "all" %>
  <%= javascript_include_tag "has_features/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
